.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    background-color: rgba(0, 0, 0, .5);
}

.modal__content {
    padding: 25px;
    background-color: white;
    border-radius: 12px;
    min-width: 350px;
}

.modal.active {
    display: flex;
    align-items: center;
    justify-content: center;
}